<body class="lists">
  <%= render 'navbar' %>

  <div class="container-fluid">
    <div class="mt-3">
      <%= tag.div id: :boards, data: { user: User.find(current_user.id).to_json(:include => { :lists => { :include => { :cards => {} } } }) } %>
    </div>
  </div>
</body>

</html>