<body class="sign">
  <%= render 'navbar' %>

  <div class="container">
    <div class="row">
      <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
        <div class="card card-signin my-5">
          <div class="card-body">
            <h5 class="card-title text-center">Sign Up</h5>
            <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
              <%= render "devise/shared/error_messages", resource: resource %>

              <div class="form-label-group">
                <%= f.text_field :name, autofocus: true, autocomplete: "name", :required => true, class: 'form-control' %>
                <%= f.label :name %>
              </div>

              <div class="form-label-group">
                <%= f.text_field :last_name, autofocus: true, autocomplete: "last_name", :required => true, class: 'form-control' %>
                <%= f.label :last_name %>
              </div>

              <div class="form-label-group">
                <%= f.email_field :email, autofocus: true, autocomplete: "email", :required => true, class: 'form-control' %>
                <%= f.label :email %>
              </div>

              <div class="form-label-group">
                <%= f.password_field :password, autocomplete: "new-password", :required => true, class: 'form-control' %>
                <%= f.label :password, "Password (6 characters minimum)" %>
              </div>

              <div class="form-label-group">
                <%= f.password_field :password_confirmation, autocomplete: "new-password", :required => true, class: 'form-control' %>
                <%= f.label :password_confirmation %>
              </div>

              <%= f.submit "Create", class: 'btn btn-lg btn-primary btn-block text-uppercase' %>

              <hr class="my-4">
              <%= render "devise/shared/links" %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>

  <%= render 'footer-fixed' %>

</body>
</html>