<template>
  <div>
    <div @click="editing=true" class="card card-body mb-3">
      {{card.name}}

      <a @click="deleteCard" class="delete-card">
        <i class="fa fa-times" aria-hidden="true"></i>
      </a>
    </div>

    <div v-if='editing' class="modal-backdrop show"></div>

    <div v-if='editing' @click="closeModal" class="modal show" style="display: block">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">{{ card.name }}</h5>
          </div>
          <div class="modal-body">
            <input v-model="name" class="form-control"/>
          </div>
          <div class="modal-footer">
            <button @click="save" type="button" class="btn btn-primary">Save changes</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Rails from "@rails/ujs"

export default {
  props: ['card', 'list'],
  
  data: function() {
    return {
      editing: false,
      name: this.card.name,
    }
  },

  methods: {
    closeModal: function(event) {
      if (event.target.classList.contains("modal")) { this.editing = false }
    },

    save: function() {
      var data = new FormData
      data.append("card[name]", this.name)

      Rails.ajax({
        beforeSend: () => true,
        url: `/cards/${this.card.id}`,
        type: "PATCH",
        data: data,
        dataType: "json",

        success: (data) => {
          this.editing = false
          location.reload()
        }
      })
    },

    deleteCard: function() {
      var data = new FormData
      data.append("card[name]", this.name)

      Rails.ajax({
        beforeSend: () => true,
        url: `/cards/${this.card.id}`,
        type: "DELETE",
        dataType: "json",
        
        success: (data) => {
          location.reload()
        }
      })
    }
  }
}
</script>