<template>
  <div class="list">
    <h6>{{ list.name }}</h6>
    <a @click="deleteList" class="delete-list">
      <i class="fa fa-trash" aria-hidden="true"></i>
    </a>

    <draggable v-model="list.cards" :options="{group: 'cards'}" class="dragArea" @change="cardMoved">
      <card v-for="card in list.cards" :key="card.id" :card="card" :list="list"></card>
    </draggable>

    <a v-if="!editing" v-on:click="startEditing" class="add-card">
      <i class="fa fa-plus-circle" aria-hidden="true"></i> Add a card
    </a>
    <textarea v-if="editing" ref="message" v-model="message" class="form-control mb-1"></textarea>
    <button v-if="editing" v-on:click="createCard" class="btn btn-add btn-primary">Add</button>
    <a v-if="editing" v-on:click="editing=false" class="cancel-card">Cancel</a>
  </div>
</template>

<script>
import Rails from "@rails/ujs"
import draggable from 'vuedraggable'
import card from 'components/card'

export default {
  components: { card, draggable },
  props: ["list"],

  data: function() {
    return {
      editing: false,
      message: ""
    }
  },

  methods: {
    startEditing: function() {
      this.editing = true
      this.$nextTick(() => { this.$refs.message.focus() })
    },

    cardMoved: function(event) {
      const evt = event.added || event.moved
      if (evt == undefined) { return }

      const element = evt.element
      const list_index = window.store.state.lists.findIndex((list) => {
        return list.cards.find((card) => {
          return card.id === element.id
        })
      })

      var data = new FormData
      data.append("card[list_id]", window.store.state.lists[list_index].id)
      data.append("card[position]", evt.newIndex + 1)

      Rails.ajax({
        beforeSend: () => true,
        url: `/cards/${element.id}/move`,
        type: "PATCH",
        data: data,
        dataType: "json"
      })
    },

    createCard: function() {
      var data = new FormData
      data.append("card[list_id]", this.list.id)
      data.append("card[name]", this.message)

      Rails.ajax({
        beforeSend: () => true,
        url: "/cards",
        type: "POST",
        data: data,
        dataType: "json",
        
        success: (data) => {
          this.message = ""
          this.$nextTick(() => { this.$refs.message.focus() })
          location.reload()
        }
      })
    },

    deleteList: function() {
      var data = new FormData
      data.append("list[name]", this.name)

      Rails.ajax({
        beforeSend: () => true,
        url: `/lists/${this.list.id}`,
        type: "DELETE",
        dataType: "json",
        
        success: (data) => {
          location.reload()
        }
      })
    }
  }
}
</script>