<body class="sign">
  <%= render 'navbar' %>

  <div class="container">
    <div class="row">
      <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
        <div class="card card-signin my-5">
          <div class="card-body">
            <h5 class="card-title text-center">Forgot your password?</h5>
            <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
              <div class="form-label-group">
                <%= render "devise/shared/error_messages", resource: resource %>
              </div>

              <div class="form-label-group">
                <%= f.email_field :email, autofocus: true, autocomplete: "email", :required => true, class: 'form-control' %>
                <%= f.label :email %>
              </div>

              <%= f.submit "Send me on email", class: 'btn btn-lg btn-primary btn-block text-uppercase' %>

              <hr class="my-4">
              <%= render "devise/shared/links" %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>

  <%= render 'footer-fixed' %>

  </body> 
</html>