<body>
  <%= render 'navbar' %>

  <div class="banner purple-light position-relative overflow-hidden p-3 p-md-5 text-center">
  <div class="col-md-5 p-lg-5 mx-auto my-5 text-white">
    <h1 class="display-4 font-weight-normal">GO Tasks</h1>
    <p class="lead font-weight-normal">Organize and prioritize your tasks with lists and cards.</p> <br>
      <%= link_to "Start now", user_session_path, class: "btn btn-primary" %></li>
  </div>
  </div>
  <div class="d-md-flex flex-md-equal w-100 my-md-3">
  <div class="bg-light box pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
    <div class="my-3 py-3">
      <h2 class="display-5">Things To Do</h2>
      <p class="lead">Put cards to do.</p>
    </div>
    <div class="list-example gradient mx-auto" style="width: 60%; height: 300px; border-radius: 20px;">
      <h3 class="name">things to do</h3>
      <div class="card card-body mb-4">do homework</div>
      <div class="card card-body mb-4">go to job</div>
      <div class="card card-body mb-4">study</div>
    </div>
  </div>
  <div class="bg-light box pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
    <div class="my-3 p-3">
      <h2 class="display-5">Doing</h2>
      <p class="lead">Put cards that you're doing.</p>
    </div>
    <div class="list-example gradient mx-auto" style="width: 60%; height: 300px; border-radius: 20px;">
      <h3 class="name">doing</h3>
      <div class="card card-body mb-4">playing</div>
      <div class="card card-body mb-4">watching netflix</div>
      <div class="card card-body mb-4">ep3</div>
    </div>
  </div>
  </div>
  <div class="d-md-flex flex-md-equal w-100 my-md-3">
  <div class="bg-light box pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
    <div class="my-3 p-3">
      <h2 class="display-5">Done</h2>
      <p class="lead">Put cards that you done.</p>
    </div>
    <div class="list-example gradient mx-auto" style="width: 60%; height: 300px; border-radius: 20px;">
      <h3 class="name">done</h3>
      <div class="card card-body mb-4">nothing is done</div>
      <div class="card card-body mb-4">&nbsp;</div>
      <div class="card card-body mb-4">&nbsp;</div>
    </div>
  </div>
  <div class="bg-light box pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
    <div class="my-3 py-3">
      <h2 class="display-5">Another list.</h2>
      <p class="lead">Put anything you want to. Rename any card.</p>
    </div>
    <div class="list-example gradient mx-auto" style="width: 60%; height: 300px; border-radius: 20px;">
      <h3 class="name">my list</h3>
      <div class="card card-body mb-4">watch oscar</div>
      <div class="card card-body mb-4">listen watermelon sugar</div>
      <div class="card card-body mb-4">&nbsp;</div>
    </div>
  </div>
  </div>

  <%= render 'footer' %>

  </body>
</html>