<body class="sign">
  <%= render 'navbar' %>

  <div class="container">
    <div class="row">
      <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
        <div class="card card-signin my-5">
          <div class="card-body">
            <h5 class="card-title text-center">Sign In</h5>
            <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
              <div class="form-label-group">
                <%= f.email_field :email, autofocus: true, autocomplete: "email", :required => true, class: 'form-control' %>
                <%= f.label :email %>
              </div>

              <div class="form-label-group">
                <%= f.password_field :password, autocomplete: "current-password", :required => true, class: 'form-control' %>
                <%= f.label :password %>
              </div>

              <% if devise_mapping.rememberable? %>
              <div class="custom-control custom-checkbox mb-3">
                <%= f.check_box :remember_me, class: "custom-control-input", id: "remember" %>
                <label class="custom-control-label" for="remember">Remember me</label>
              </div>
              <% end %>

              <%= f.submit "Log in", class: 'btn btn-lg btn-primary btn-block text-uppercase' %>

              <hr class="my-4">
              <%= render "devise/shared/links" %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>

<%= render 'footer-fixed' %>

</body>
</html>