@import "bootstrap";
@import "font-awesome";

@import url('https://fonts.googleapis.com/css?family=Calistoga|Lato&display=swap');

* {
  transition: all .2s ease-out;
  -webkit-transition: all .2s ease-out;
}

a {
  color: #745186;
}

body {
  background: #ededed;
  font-family: 'Lato', sans-serif;
}

h1, h2, h3, h6 {
  font-family: 'Calistoga';
}

.alert {
  margin: 1rem;
}

.navbar {
  font-family: 'Calistoga';
  padding: 1rem 1rem;
}

@include media-breakpoint-down(xs) {
  .container {
    margin-left: 0;
    margin-right: 0;
  }
}

.purple {
  background: #745186;
}

.purple-light {
  background: #895f9d;
}

.spacer {
  margin-bottom: 5rem;
}

.gradient {
  background: linear-gradient(135deg, #745186 0%, #4582EC 100%);
}

.overflow-hidden { 
  overflow: hidden; 
}

.box {
  border-radius: 25px;
  padding: 5rem;
  margin: 5px;
}

.container {
  max-width: 960px;
}

.btn {
  border-radius: 27px;
  padding: 16px 27px;
  font-size: 14px;
  line-height: 17px;
  font-weight: 700;
  text-transform: uppercase;
  border: 3px solid #745186;
  background-color: #745186;
  color: #fff;
}

.list-example {
  box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
  padding: 20px;
  text-align: left;
}

.list-example h3.name {
  color: #fff;
  margin-bottom: 1rem;
}

.list-example .card {
  color: #000;
  margin-bottom: 1rem;
  padding: .5rem;
}

.footer .padding {
  padding-top: 1.5rem;
  padding-bottom: 1.0rem;
}

.footer-absolute {
  position: absolute;
  bottom: 0;
  width: 100%;
}

/*
 * Extra utilities
 */
.flex-equal > * {
  -ms-flex: 1;
  flex: 1;
}
@media (min-width: 768px) {
  .flex-md-equal > * {
    -ms-flex: 1;
    flex: 1;
  }
}

/*
 * Lists and Cards
 */
.lists {
  background-color: #895f9d;
}

.dragArea {
  min-height: 10px;
}

.board {
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
}

.list, .create-list {
  background-color: #E2E4E6;
  border-radius: 10px;
  box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.2);
  display: inline-block;
  margin-right: 20px;
  margin-bottom: 20px;
  padding: 15px;
  position: relative;
  vertical-align: top;
  width: 300px;
}
.list:hover {
  cursor: move;
}
.list:hover .delete-list {
  cursor: pointer;
  opacity: 1;
}

.delete-list {
  background-color: #E2E4E6;
  border-radius: 5px;
  opacity: 0;
  padding: 0 .4rem;
  position: absolute;
  top: 10px;
  right: 10px;
}
.delete-list:hover {
  background-color: #909090;
}

.lists .card {
  padding: .5rem;
}
.lists .card:hover {
  cursor: move;
}
.lists .card:hover .delete-card {
  cursor: pointer;
  opacity: 1;
}

.delete-card {
  background-color: #E2E4E6;
  border-radius: 5px;
  opacity: 0;
  padding: 0 .4rem;
  position: absolute;
  right: 10px;
}
.delete-card:hover {
  background-color: #909090;
}

.modal:hover {
  cursor: default;
}

.btn-add {
  margin-right: .2rem;
  padding: 10px 20px;
}
.cancel-card {
  color: #000 !important; 
  padding: .4rem;
}
.cancel-card:hover {
  color: #909090 !important;
  cursor: pointer;
}

a.add-card, a.add-list {
  color: #000 !important; 
  padding: .2rem 0;
}
a.add-card:hover, a.add-list:hover {
  color: #909090 !important;
  cursor: pointer;
}

/*
 * User forms
 */
:root {
  --input-padding-x: 1.5rem;
  --input-padding-y: .75rem;
}

.card-signin {
  border: 0;
  border-radius: 1rem;
  box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
}

.card-signin .card-title {
  margin-bottom: 2rem;
  font-weight: 300;
  font-size: 1.5rem;
}

.card-signin .card-body {
  padding: 2rem;
}

.form-signin {
  width: 100%;
}

.form-signin .btn {
  font-size: 80%;
  border-radius: 5rem;
  letter-spacing: .1rem;
  font-weight: bold;
  padding: 1rem;
  transition: all 0.2s;
}

.form-label-group {
  position: relative;
  margin-bottom: 1rem;
}

.form-label-group input {
  height: auto;
  border-radius: 2rem;
}

.form-label-group>input,
.form-label-group>label {
  padding: var(--input-padding-y) var(--input-padding-x);
}

.form-label-group>label {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  margin-bottom: 0;
  /* Override default <label> margin */
  line-height: 1.5;
  color: #495057;
  border: 1px solid transparent;
  border-radius: .25rem;
  transition: all .1s ease-in-out;
}

.form-label-group input::-webkit-input-placeholder {
  color: transparent;
}

.form-label-group input:-ms-input-placeholder {
  color: transparent;
}

.form-label-group input::-ms-input-placeholder {
  color: transparent;
}

.form-label-group input::-moz-placeholder {
  color: transparent;
}

.form-label-group input::placeholder {
  color: transparent;
}

.form-label-group input:not(:placeholder-shown) {
  padding-top: calc(var(--input-padding-y) + var(--input-padding-y) * (2 / 3));
  padding-bottom: calc(var(--input-padding-y) / 3);
}

.form-label-group input:not(:placeholder-shown)~label {
  padding-top: calc(var(--input-padding-y) / 3);
  padding-bottom: calc(var(--input-padding-y) / 3);
  font-size: 12px;
  color: #777;
}

/*
 * Fallback for Edge
 */
@supports (-ms-ime-align: auto) {
  .form-label-group>label {
    display: none;
  }
  .form-label-group input::-ms-input-placeholder {
    color: #777;
  }
}