  <footer class="footer footer-absolute purple">
    <div class="container text-center py-4">
      <span class="text-white">
        © <%= Date.today.year %> - GO Tasks. <br> Made with <3 by Ítalo and Tiago
      </span>
    </div>
  </footer>