    <nav class="navbar purple navbar-expand-md navbar-dark">
        <div class="container text-white"><%= link_to "GO", root_path, class: "navbar-brand" %>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarMain" aria-controls="navbarsExample04" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarMain">
                <ul class="navbar-nav mr-auto mt-2 mt-md-0">
                    <li class="nav-item"><a class="nav-link" href="https://gitlab.com/tsrrodrigues/ep3/">About</a>
                    </li>
                </ul>
        <ul class="navbar-nav">
        <% if user_signed_in? %>
            <li class="nav-item"><%= link_to current_user.name, lists_path, class: "nav-link" %></li>
            <li class="nav-item"><%= link_to "Sign out", destroy_user_session_path, method: :delete, class: "nav-link" %></li>
            <% else %>
            <li class="nav-item"><%= link_to "Sign In", new_user_session_path, class: "nav-link" %></li>
            <li class="nav-item"><%= link_to "Sign Up", new_user_registration_path, class: "nav-link" %></li>
        <% end %>
                </ul>
            </div>
        </div>
    </nav>

    <% if notice %>
        <p class="alert alert-success"><%= notice %></p>
    <% end %>
    <% if alert %>
        <p class="alert alert-danger"><%= alert %></p>
    <% end %>