<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="">
	<meta name="author" content="Ítalo Alves and Tiago Samuel">
  
  <title>GO Tasks</title>
  
  <!-- Rails core -->
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  
  <!-- Favicons -->
	<meta name="msapplication-navbutton-color" content="#895f9d">
	<meta name="theme-color" content="#895f9d">
  
</head>

  <%= yield %>